/* ############################### */
/* ####### GENERAL CLASSES ####### */
/* ############################### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5dbd9;
    background-image: linear-gradient(#009688 0%, #009688 100%);
    background-size: 100vw 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

h2,h3,h4,h5 {
    font-weight: 300;
}

h4 {
    opacity: 45%;
    display: inline;
}

a {
    color: gray;
}

input[type*="text"] {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
}
input[type*="text"]:focus-visible {
    outline: none;
}

/* ############################### */
/* ####### UTILITY CLASSES ####### */
/* ############################### */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.showed {
    display: flex !important;
}
.none {
    display: none !important;
}

.d_flex {
    display: flex;
}
.justify_center {
    justify-content: center;
}
.align_center {
    align-items: center;
}
.f_col {
    flex-direction: column;
}
.f_around {
    justify-content: space-around;
}
.f_between {
    justify-content: space-between;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* ######################################## */
/* ####### COMMON HTML-CSS SELECTOR ####### */
/* ######################################## */
#root {
    height: 100vh;
    width: 100vw;
    padding: 30px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i  {
    color: #b1b1b1;
    font-size: 1.5rem;
    margin: 2px 10px;
    cursor: pointer;
}
i:hover {
    color: lightgray;
}
.photo {
    border-radius: 50%;
    height: 70px;
}

.whiteCircle {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whiteCircle > i {
    font-size: 1.5rem;
    color: skyblue;
}

.selected {
    background-color: #eaeaea !important;
}







/* ############################################ */
/* ####### PANNELLO CONTATTI (sinistra) ####### */
/* ############################################ */
.contactPanel {
    background-color: white;
    width: 500px;
    min-width: 380px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #00000026;
}

.myUser {
    height: 120px;
    background-color: #eaeaea;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.myInfo {
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myInfo h2 {
    margin-left: 10px;
}
.myIcons {
    padding-right: 30px;
    display: flex;
    flex-wrap: nowrap;
}


.notifyDesktop {
    height: 120px;
    background-color:skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notifyDesktop > * {
    margin: 0px 10px;
}



.searchContainer {
    padding: 10px;
    background-color: #eaeaea;
}
.whiteDiv {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center
}
.searchContainer i {
    padding: 5px;
    font-size: 1rem;
}

.contactList{
    height: 100%;
    overflow-x: hidden;
    overflow-y:scroll;
}

.contact {
    height: 85px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.contact:hover {
    background-color: #f8f8f8;
}
.contact > * {
    padding: 0 10px;
}
.previewContainer {
    min-width: 20px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/* ###################################### */
/* ####### PANNELLO CHAT (destra) ####### */
/* ###################################### */
.messagePanel {
    background-color: wheat;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 0px 10px #00000026;
}

.contactInfo {
    height: 100px;
    background-color: #eaeaea;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contactInfo > * {
    padding: 0 10px;
}

.contactInfoMessage {
    display: flex;
    align-items: center;
}
.contactInfoMessage > * {
    padding: 0 10px;
}



.chat {
    background-image: url("../img/mine.jpg");
    height: 100%;
    padding: 20px 50px;
    overflow-x: hidden;
    overflow-y:scroll;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}
.sentMsg {
    background-color: #d5f9ba;
    text-align: right;
    padding: 10px;
    align-self: flex-end;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 370px;
    position: relative;
}
.sentMsg::after {
    content: '\25C6';
    position: absolute;
    top: 0;
    right: -11px;
    color: #d5f9ba;
    font-size: 1.8rem;
}
.sentMsgPosition {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.receivedMsg{
    background-color: white;
    text-align: left;
    padding: 10px;
    align-self: flex-start;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 370px;
    position: relative;
}
.receivedMsg::after {
    content: '\25C6';
    position: absolute;
    top: 0;
    left: -11px;
    color: white;
    font-size: 1.8rem;
}
.receivedMsgPosition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.timing{
    font-size: 0.8rem;
    color: #00000075;
}



.textContainer {
    height: 80px;
    background-color: #eaeaea;
    padding: 10px 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.textContainer > input {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.textContainer > i:last-child {
    color:dimgray;
}