<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Boolzapp</title>
</head>

<body>

    <main id="root" class="d-flex">
        <div class="main">

            <!-- ##### SCHERMATA DI SINISTRA ##### -->
            <div class="contactPanel">
                <div class="myUser">
                    <!-- 1 container nella lista contatti con mie info -->
                    <div class="myInfo">
                        <img class="photo" src="./assets/img/avatar_io.jpg" alt="">
                        <h2>Me</h2>
                    </div>
                    <div class="myIcons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="notifyDesktop">
                    <!-- container blu con notifiche -->
                    <div class="whiteCircle">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="notifyText">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="searchContainer">
                    <!-- container con barra di ricerca -->
                    <div class="whiteDiv">
                        <i class="fas fa-search"></i>
                        <input type="text" name="search" id="search" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>

                <div class="contactList">
                    <div class="contact" v-for="(contact, i) in contacts" @click="selectedContact(i)"
                        :class="index == i ? 'selected' : '' ">
                        <!-- container che si dovrà generare per ogni contatto -->
                        <img class="photo" :src="'./assets/img/avatar'+ contact.avatar +'.jpg'" alt="">
                        <div class="contactShowcase">
                            <h2>{{contact.name}}</h2>
                            <h4>Anteprima messaggio</h4>
                        </div>
                    </div>
                </div>
            </div>





            <!-- ##### SCHERMATA DI DESTRA ##### -->
            <div class="messagePanel">
                <div class="contactInfo">
                    <!-- container con le info del contatto selezionato -->
                    <div class="contactInfoMessage" v-for="(contact, i) in contacts"
                        :class="index == i ? 'showed' : 'none' ">
                        <img class="photo" :src="'./assets/img/avatar'+ contact.avatar +'.jpg'" alt="">
                        <div class="contactShowcase">
                            <h2>{{contact.name}}</h2>
                            <h4>{{contact.state}}</h4>
                        </div>
                    </div>

                    <div class="myIcons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="chat" v-for="(contact, i) in contacts" :class="index == i ? 'showed' : 'none' ">
                    <!-- container principale con la chat del contatto -->
                    <div class="chatMessage" v-for="(message, i) in contact.messages"
                        :class="message.status == 'sent' ? 'sentMsgPosition' : 'receivedMsgPosition' ">
                        <div class="msg" :class="message.status == 'sent' ? 'sentMsg' : 'receivedMsg' ">
                            <p>{{message.text}}</p>
                        </div>
                    </div>
                </div>

                <div class="textContainer">
                    <!-- container input invio messaggio -->
                    <i class="far fa-smile"></i>
                    <input type="text" name="urMessage" id="urMessage" placeholder="Scrivi qui il tuo messaggio...">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>